body {
    background-color: #dce5ff;
    font-family: "Arial", sans-serif;
    color: #005205;
    margin: auto;
    max-width: 600px;
}

h1, h2 {
    font-family: "Courier New", sans-serif;
}

h6 {
    font-size: 1.5rem;
    white-space: nowrap;
}

@media screen {
}