<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>
        <nav>
            <p><a href="https://webpages.charlotte.edu/gbates7/">Webpage</a></p>
            <p><a href="https://github.com/gbates7-lang">GitHub</a></p>
            <p><a href="https://gbates7-lang.github.io">GitHub.io Root page</a></p>
            <p><a href="https://gbates7-lang.github.io/itis3135/">GitHub.io Course page</a></p>
            <p><a href="https://www.freecodecamp.org/gbates7">freeCodeCamp</a></p>
            <p><a href="https://www.codecademy.com/profiles/gbates7">Codecademy</a></p>
            <p><a href="https://gbates7-lang.github.io">LinkedIn</a></p>
        </nav>
    </p>
</body>
</html>